{% extends "base.html" %}
{% block content %}

<link type="text/css" href="static/styles/home.css" rel="stylesheet" />

<div id="app">
    <div class="row">
        <div class="col">
            <div class="input-group">
                <input type="file" accept=".zip" class="form-control" @change="getFile($event)">
                <button class="btn btn-outline-secondary" type="button" @click="uploadFile">Upload</button>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <div>upload status : </div>
        </div>
        <div class="col">
            <div v-if="currentStatus">{{currentMessage}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                    :style="`width: ${progress}%`" :aria-valuenow="`width: ${progress}%`" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex my-2 mx-2"
            style="height: 60vh;flex-wrap: wrap;justify-content: space-around;overflow-y: scroll;">
            <div 
                v-for="image in uploadImages" 
                style="height: 45%;width: 20%;display: flex;flex-direction: column;align-items: center;"
                class="my-2 mx-2"
            >
                <div>{{image.name}}</div>
                <img :src="`${image.url}`" style="height:100%">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="height: 10vh;overflow-y:scroll;">
            <div v-for="content in databaseContent" :key="content.upload_id"
                style="display:flex;justify-content: space-around" class="border border-2">
                <div>upload_id : {{content.upload_id}}</div>
                <div>image_name : {{content.image_name}}</div>
                <div>created_at : {{content.created_at}}</div>
                <div>updated_at : {{content.updated_at}}</div>
            </div>
        </div>
    </div>
</div>

<script src="static/js/services/api.services.js" type="text/javascript"></script>
<script src="static/js/pages/home.js" type="text/javascript"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{% endblock %}